body {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 10px;
  background-image: url('your-background-image.jpg');
  background-size: cover;
  background-attachment: scroll;
  background-repeat: repeat-y; /* This will make the background image repeat only vertically */
  background-position: center top;
  font-family: 'Comic Sans MS', cursive;
}

#title {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: #8B4513; /* Brown color */
  font-size: 32px; /* Adjust the font size as needed */
  margin-top: -7px;
}

#character-container {
  text-align: center;
}

#dancing-character {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 20px; /* Increase the margin as needed */
}

textarea {
  width: calc(100% - 20px);
  height: 60%;
  resize: none;
  border: 2px solid #8B4513; /* Brown border */
  background-color: #ffffe0;
  font-size: 14px;
  padding: 10px;
}

ul {
  padding: 0;
  margin-top: 10px;
  list-style-type: disc; /* Bullet points */
  color: #35240A; /* Dark Brown color */
  padding-left: 8px; /* Add 8px padding to the left of the list */
}

li {
  margin-bottom: 5px;
  margin-left: 45px;
  font-size: 24px;
  color: #35240A; /* Dark Brown color */
  /*font-family: 'American Typewriter', 'Courier New', monospace; /* American Typewriter font or fallback to Courier New or monospace */
  font-family: 'Dancing Script', cursive, 'Arial', sans-serif;
  font-weight: 400; /* Adjust the font weight as needed (less thick) */
}

/*#alert {
  display: none;
  background-color: lightgrey;
  border: 1px solid green;
  position: fixed;
  width: 250px;
  left: 45%;
  top: 2%;
  padding: 6px 8px 8px;
  text-align: center;
}

#alert img {
  width: 10rem;
  height: 10rem;
}

#alert button {
  border-radius: 12px;
  height: 2rem;
  padding: 10px;
  cursor: pointer;
  border: 2px solid green;
  background-color: aqua;
}*/